// color
$color-background: #f5f5f7;
$color-body: #444444;
$color-white: #fff;
$color-pink: #e43c5c;
$color-pink-light: #ea6981;
$color-text: #1d1d20;
$color-text-note:#86868B;
$color-header: #515154;
// $color-boders: #2d2d2d;
$color-price: #0066CC;
$color-border: #f3f3f3;
$color-hover-boder : #dee2e6;
$color-background-btn: #343a40;
#1D1D1F

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

$header-height: 90px;
$fs-brand: 2rem;
$fs-link: 1.1rem;
$fs-item-name: 1.1rem;
$fs-item-price: 1.5rem;
$fs-text:1rem;
$fs-item-info: 0.8rem;
$boder-1:10px;

$height-img-product: 225px;

$space-section: 50px;
