* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f8f9fa;
}

.hover-header, header .list-unstyled > li a:hover {
  transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #ea6981;
  font-size: 1.1rem;
  font-weight: 500;
}

.icon-header, header .search-cart .header__cart-wrap .cart, header .search-cart .search-sp {
  border-radius: 100%;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 15px;
  cursor: pointer;
}
.icon-header:hover, header .search-cart .header__cart-wrap .cart:hover, header .search-cart .search-sp:hover {
  background-color: #f8f9fa;
  color: #101010;
}

header {
  background-color: #101010;
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
header .navbar {
  height: 100%;
}
@media (max-width: 991px) {
  header .navbar {
    display: none;
  }
}
header .navbar-icon {
  font-size: 2rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  header .navbar-icon {
    display: none;
  }
}
@media (min-width: 1200px) {
  header .navbar-icon {
    display: none;
  }
}
header .navbar-icon .dropdown-menu {
  background-color: #101010;
  transform: none;
  /* left: 0px; */
}
header .dropdown-toggle::after {
  display: none;
}
header .logo a {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
header .list-unstyled > li {
  height: 100%;
}
header .list-unstyled > li::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #ea6981;
  transform: scaleX(0) translateY(5px);
  transition: 0.2s;
}
header .list-unstyled > li:hover::after {
  transform: scaleX(1) translateY(5px);
}
header .list-unstyled > li a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 2px;
  padding: 12px;
}
header .list-unstyled > li a:hover {
  text-decoration: none;
}
@media (max-width: 991px) {
  header .list-unstyled > li a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
  }
}
header .search-cart .hide-search {
  display: none;
  transition: all 3s;
}
header .search-cart .search-sp {
  display: flex;
  background-color: #343a40;
}
header .search-cart .header__cart-wrap {
  position: relative;
  display: inline;
  padding: 12px 12px;
  cursor: pointer;
  transition: all 0.5s;
}
header .search-cart .header__cart-wrap:hover .header__cart {
  display: block;
}
header .search-cart .header__cart-wrap:hover .cart {
  background-color: #f8f9fa;
  color: #101010;
}
header .search-cart .header__cart-wrap:hover .cart .header__cart-notice {
  background-color: #f8f9fa;
  color: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .search-cart .header__cart-wrap .cart {
  text-decoration: none;
  background-color: #343a40;
  transition: all 0.3s;
}
header .search-cart .header__cart-wrap .cart .header__cart-notice {
  position: absolute;
  padding: 1px 14px;
  top: -1px;
  right: 2px;
  border-radius: 10px;
  background-color: #343a40;
  transition: all 0.3s;
}
header .search-cart .header__cart-wrap .header__cart {
  display: none;
  width: 450px;
  position: absolute;
  top: 100%;
  right: 0px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 10px #fdfdfd;
  cursor: default;
  z-index: 1;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-no {
  position: relative;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-no img {
  border-radius: 10px;
  width: 100%;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-no .header__cart-no-cart-msg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-heading {
  color: #999;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  padding: 4px;
  margin: 0;
  position: relative;
  border-bottom: solid 1px #999;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list {
  margin: 0;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item {
  display: flex;
  align-items: center;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item .header__cart-item-img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item .header__cart-item-img .header__cart-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item .header__cart-item-info {
  width: 100%;
  margin: 4px;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item .header__cart-item-info .header__cart-item-info-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item .header__cart-item-info .header__cart-item-info-heading .header__cart-item-name {
  color: #493c3e;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item .header__cart-item-info .header__cart-item-info-heading .header__cart-item-price-wrap {
  color: #e43c5c;
  font-size: 1rem;
  font-weight: 500;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item .header__cart-item-info .header__cart-item-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item .header__cart-item-info .header__cart-item-body .header__cart-item-description {
  color: #999;
  font-size: 0.8rem;
  font-weight: 400;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item .header__cart-item-info .header__cart-item-body .header__cart-item-remove {
  color: #493c3e;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item .header__cart-item-info .header__cart-item-body .header__cart-item-remove:hover {
  text-decoration: none;
  color: #e43c5c;
  cursor: pointer;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item .header__cart-item-info .header__cart-item-body .header__cart-item-icon {
  font-size: 10px;
  padding: 4px 6px;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item .header__cart-item-info .header__cart-item-body .btn-outline-primary {
  border-color: #e43c5c;
  color: #e43c5c;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-list .header__cart-item .header__cart-item-info .header__cart-item-body .btn-outline-primary:hover {
  background-color: #e43c5c;
  border-color: #e43c5c;
  color: #fff;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-footer {
  padding: 10px;
  background-color: #343a40;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-footer .header__cart-footer-left {
  color: #f8f9fa;
  font-size: 1.1rem;
  font-weight: 700;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-footer .header__cart-footer-left .header__cart-totalPrice {
  color: #ea6981;
  font-size: 1.1rem;
  font-weight: 700;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-footer .header__cart-footer-left .header__cart-vnd {
  color: #f8f9fa;
  font-size: 0.8rem;
  font-weight: 400;
}
header .search-cart .header__cart-wrap .header__cart .header__cart-yes .header__cart-footer .header__cart-footer-right {
  color: #f8f9fa;
}
header .search-cart .header__cart-wrap .header__cart::after {
  cursor: pointer;
  content: "";
  position: absolute;
  right: 36px;
  top: -28px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #f8f9fa;
}
header .search-cart .form-inline {
  justify-content: end;
}
@media (max-width: 991px) {
  header .search-cart .form-inline .form-control {
    width: 50%;
  }
}

.dropdown {
  padding: 130px 0 0;
}
.dropdown .dropdown-item {
  transition: all 0.5s;
}
.dropdown .dropdown-item :hover {
  mix-blend-mode: color-burn;
}
.dropdown .dropdown-item option {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.product {
  padding: 130px 0;
}
.product .portfolio-container {
  background-color: #fff;
  box-shadow: 0 0 3px 0 #dee2e6;
  border-radius: 6px;
}
.product .portfolio-container .portfolio-item {
  padding: 12px;
  margin: 20px 0;
  transition: all 0.1s;
}
.product .portfolio-container .portfolio-item .portfolio-imgs {
  position: relative;
  height: 225px;
  text-align: center;
  margin: 12px;
}
.product .portfolio-container .portfolio-item .portfolio-imgs .img-product {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product .portfolio-container .portfolio-item .portfolio-info {
  padding: 9px 10px;
  border-radius: 6px;
  background: #f8f9fa;
}
.product .portfolio-container .portfolio-item .portfolio-info > h4 {
  color: #493c3e;
  font-size: 1.1rem;
  font-weight: 700;
}
.product .portfolio-container .portfolio-item .portfolio-info > p {
  color: #0066CC;
  font-size: 1.5rem;
  font-weight: 700;
}
.product .portfolio-container .portfolio-item .portfolio-info .cdt-product__config__param {
  color: #493c3e;
  font-size: 0.8rem;
  font-weight: 500;
}
.product .portfolio-container .portfolio-item:hover {
  border-radius: 6px;
  scale: 1.05;
  box-shadow: 0 0 2px 0 #dee2e6;
  z-index: 3;
  background-color: #fff;
}/*# sourceMappingURL=main.css.map */